*{
    margin: 0;
    padding: 0;
}

/*Variables*/
$rosa: #E8B0A7;
$petroleo: #007886;
$magenta: #a1304e;
$font-menu:  normal 18px 'Montserrat', sans-serif;

/*Mixins*/
@mixin sizes($height, $width) {
    height: $height;
    width: $width;
 }

body{

    /*Marca de Página*/
    h1{
        text-align:center;
        color: $rosa;
        font-family: 'Orelega One', cursive;
        font-size: 45px;
        animation-duration: 5s;
        animation-name: aparecer;
        background-image: url(Img/vestiditos.png);
        margin: 0;
        min-height: 80vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        &:hover{
            color: $petroleo;
        }  
    }

    @keyframes aparecer {
        0% {
        opacity: 0;
        }
        100% {
        opacity: 1;
        }
    }
    
    header{

        /*Barra de Inicio*/
        .menu{
            display: flex;
            flex-direction: row;
            justify-content: center;
            background-position: center;
            background-color: $petroleo;
            font: $font-menu;
            text-transform: uppercase;

            a{
                color:white;
                padding: 20px;
                text-decoration: none;
                height: 65px;

                &:hover{
                    color: $petroleo;
                    background-color: $rosa;
                    height: 100px;
                    transition: height 2s;
                }
            }
        }
    }

    main{      

        /*--Slider con Productos Destacados y Promos*/
        .row{
            margin-top: 20px;
        }
        
        /*Galería de Fotos de Productos*/
        .grid-item{
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            transition: transform 0.3s ease-in-out;
            border: solid 1px rgb(255, 255, 255);

            &:hover{
                filter: opacity(0.9);
                transform:scale(1.04);
            }  
        }

        .item-1{
            background-image: url(Img/vestido-agustina.png);
        }

        .item-2{
            background-image: url(Img/vestido-analia.png);
        }

        .item-3{
            background-image: url(Img/vestido-eugenia.png);
        }

        .item-4{
            background-image: url(Img/vestido-julia.png);
        }

        .item-5{
            background-image: url(Img/vestido-noemi.png);
        }

        .item-6{
            background-image: url(Img/falda-betty.png);
        }

        .item-7{
            background-image: url(Img/falda-camila.png);
        }

        .item-8{
            background-image: url(Img/falda-emilia.png);
        }

        .item-9{
            background-image: url(Img/falda-laura.png);
        }

        .item-10{
            background-image: url(Img/falda-mechi.png);
        }

        .item-11{
            background-image: url(Img/camisa-alcira.png);
        }

        .item-12{
            background-image: url(Img/camisa-celeste.png);
        }

        .item-13{
            background-image: url(Img/camisa-juanita.png);
        }

        .item-14{
            background-image: url(Img/camisa-julieta.png);
        }

        .item-15{
            background-image: url(Img/camisa-silvia.png);
        }

        .grid-container{
            display: grid;
            grid-template-columns: repeat(auto-fill, 240px);
            grid-auto-rows: 359px;
            gap: 20px;
            padding: 20px;
            grid-auto-flow: dense;
        }

        .wide{
            background-image: url(Img/vestido-ventana.png);
            grid-column: span 3;
        }

        .wide2{
            background-image: url(Img/vestido-cartera.png);
            grid-column: span 2;
        }

        .wide3{
            background-image: url(Img/vestido-final.png);
            grid-column: span 5;
        }

        /*Formulario de "Contacto", "Iniciar Sesión" y "Crear Cuenta*/
        .form-floating{
            margin-bottom: 25px;
            margin-top: 25px;
        } 

        /*Subtítulos de Cuenta"*/
        h4{
            text-align: center;
            color: $petroleo;
            text-decoration: none;
            word-spacing: 3px;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            margin-bottom: 20px;
            margin-top: 20px;
            text-transform: uppercase;
        }

        /*Carrito de Compras*/
        .productos{
            margin: 0 auto;
        }

        .producto{
            display: flex;
            width: 100%;
            height: 200px;
            overflow: hidden;
            border: 1px solid silver;
            margin-bottom: 20px;
            margin: 0 auto;

            &:hover{
                border: none;
                box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
                transform: scale(1.01);
            }

            img{
                width: 300px;
                height: 280px;
                object-fit: cover;

                &:hover{
                    transform: scale(1.04);
                }
            }
        }

        .info{
            padding: 20px;
            width: 100%;
            position: relative;
        }

        .info-nombre, .info-precio, .info-promo{
            margin-bottom: 20px;
        }

        .trash{
            position: absolute;
            bottom: 20px;
            right: 20px;
            padding: 10px 25px;
            background-color: red;
            color: white;
            cursor: pointer;
            border-radius: 5px;

            &:hover{
                background-color: white;
                color: red;
                font-weight: 600;
                border: 1px solid red;
            }
        }
        
        .fa{
            margin-right: 5px;
        }

        /*Tabla de Talles*/
        .main__tabla{
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            @include sizes(45px, 300px);
            margin-bottom: 50px;

        }

        tr{
            th{
                color: white;
                background-color: $magenta;
                font-size: 15px;
            }
            td{
                font-size: 14px;
            }
        }

        /*Subítulos de Carrito*/
        h5{
            text-align: center;
            color: $petroleo;
            text-decoration: none;
            word-spacing: 3px;
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            margin-bottom: 20px;
            margin-top: 20px;
            text-transform: uppercase;
        }

        /*Todos los Botones*/
        .boton{
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .boton2{
            color: white;
            background-color: $petroleo;
            border-color: $petroleo;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            @include sizes(40px, 300px);
            margin-top: 10px;

            &:hover{
                color: $petroleo;
                background-color: $rosa;
                border-color: $rosa;
                text-decoration: none;
            }
        }

        .boton3{
            color:rgb(255, 255, 255);
            background-color: $magenta;
            border-color: $magenta;
            text-decoration: none;
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            text-decoration: none;
            @include sizes(40px, 200px);
            margin-top: 10px;

            &:hover{
                color: $petroleo;
                background-color: $rosa;
                border-color: $rosa;
                text-decoration: none;
            }
        }

        .boton4{
            background-color: $petroleo;
            border-color: $petroleo;
            @extend .boton3;

            &:hover{
                color: $petroleo;
                background-color: $rosa;
                border-color: $rosa;
                text-decoration: none;
            }
        }
    }

    footer{
        margin: 0;
        padding: 10px;
        display: flex;
        justify-content: center;

        ul{
            margin: 0;
            padding: 0;
            display: flex;

            li{
                list-style: none;
                margin: 0 5px;

                a{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    text-decoration: none;
                    font-size: 30px;
                    color: $petroleo;
                    transition: 0.5s cubic-bezier(.95,.32,.37,1.31)
                }
            }
        }
        
        ul li a:hover{
            color: #fff;
        }
        
        ul li a:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $petroleo;
            border-radius: 50%;
            z-index: -1;
            transform: scale(0);
            transition: 0.5s;
        }
        
        ul li a:hover:before{
            transform: scale(1);
        }
        
        ul li:nth-child(1) a:hover:before{
            background-color: #3b5999;
        }
        
        ul li:nth-child(3) a:hover:before{
            background-color: #55acee;
        }
        
        ul li:nth-child(2) a:hover:before{
            background-color: #e4405f;
        }
    }

}

/*MQ Mobile*/
@media (max-width: 320px){

    body{

        /*Marca de la Página*/
        h1{
            text-align:center;
            font-size: 45px;
            animation-duration: 5s;
            animation-name: aparecer;
            background-image: url(Img/vestiditos.png);
            margin: 0;
            min-height: 80vh;
            background-repeat: no-repeat;
            background-size:cover;
            background-position: center;
        } 

        header{

            /*Barra de Inicio*/
            .menu{
                display: block;
                font-size: 10px;
                text-transform: uppercase;
                word-spacing: 0px;
            }

            a{
                padding: 20px;
                text-decoration: none;
                height: 65px;

                &:hover{
                    height: 100px;
                    transition: height 2s;
                }
            }
        }
        
        main{

            /*Galería de Fotos de Productos*/
            .wide{
                grid-column: span 1;
            }

            .wide2{
                grid-column: span 1;
            }

            .wide3{
                grid-column: span 1;
            }

            /*Carrito de Compras*/

            h5{
                font-size: 9px;
                margin-top: auto;
                margin-bottom: auto;
            }

            .producto{
                display: flex;
                width: 100%;
                height: 200px;
                overflow: hidden;
                border: 1px solid silver;
                margin-bottom: 20px;

                &:hover{
                    border: none;
                    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
                    transform: scale(1.01);
                }

                img{
                    width: 220px;
                    height: 280px;
                    object-fit: cover;

                    &:hover{
                        transform: scale(1.04);
                    }
                }
            }

            .info{
                padding: 20px;
                width: 100%;
                position: relative;
            }

            .info-nombre, .info-precio, .info-promo{
                margin-bottom: 20px;
            }

            .trash{
                position: absolute;
                bottom: 20px;
                right: 20px;
                padding: 10px 25px;
                background-color: red;
                color: white;
                cursor: pointer;
                border-radius: 5px;

                &:hover{
                    background-color: white;
                    color: red;
                    font-weight: 600;
                    border: 1px solid red;
                }
            }
            
            .fa{
                margin-right: 5px;
            }

            /*Tabla de Talles*/
            .main__tabla{
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                @include sizes(45px, 300px);
                margin-bottom: 50px;

            }

            tr{
                th{
                    color: white;
                    background-color: $magenta;
                    font-size: 15px;
                }
                td{
                    font-size: 14px;
                }
            }

            /*Todos los Botones*/
            .boton{
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 10px;
            }

            .boton2{
                font-size: 10px;
                text-transform: uppercase;
                text-decoration: none;
                @include sizes(40px, 160px);
                
                &:hover{
                    text-decoration: none;
                }
                
            }

            .boton3{
                text-decoration: none;
                font-size: 10px;
                text-transform: uppercase;
                text-decoration: none;
                @include sizes(40px, 110px);

                &:hover{
                    text-decoration: none;
                }
            }   
            

            .boton4{
                font-size: 10px;
                text-transform: uppercase;
                text-decoration: none;
                @include sizes(40px, 90px);

                &:hover{
                    text-decoration: none;
                }
            }
            
            /*Tabla de Talles*/
            .main__tabla{
                text-align: center;
                margin-left: auto;
                margin-right: auto;
                @include sizes(45px, 300px);
                margin-bottom: 20px;
            }
            
            tr{
                th{
                    font-size: 10px;
                }

                td{
                    font-size: 10px;
                }
            }
        }
     
    } 
}  

/*MQ Tablat*/
@media (max-width: 768px){
    body{
        
        /*Galería de Fotos de Productos*/
        
        .grid-container{
            display: grid;
            grid-template-columns: repeat(auto-fill, 240px);
            grid-auto-rows: 359px;
            gap: 20px;
            padding: 20px;
            grid-auto-flow: dense;
        }
        
        .wide{
            grid-column: span 1;
        }

        .wide2{
            grid-column: span 1;
        }

        .wide3{
            grid-column: span 1;
        }
    }
}